<template>
    <div>
       <book-modal :book="book" />
    </div>
</template>
<script>
    import BookModal from './BookModal.vue'
    import {
        eventBus
    } from '../main';

    export default {
        props: [
            'id'
        ],
        data() {
            return {
                book: {}
            }
        },
        methods: {
            resetBooks() {
                if (this.$store.state.singleBook == true) {
                    this.$store.state.singleBook = false;
                    this.$store.state.searchQuery = {
                        'endpoint': '/books',
                        'status': 'all books'
                    }
                    eventBus.$emit('reloadSearch')
                } else {
                    eventBus.$emit('reloadSearch')
                }
            },
            loadBook(id) {
                this.$store.state.showModal = true
                this.$http.get('book/' + id)
                    .then(response => {
                        this.book = response.data
                    })
            },
        },
        mounted: function() {
            this.loadBook(this.id)
        },
        created() {
            eventBus.$on('loadBook', this.loadBook)
            eventBus.$on('resetBooks', this.resetBooks)
        },
        components: {
            BookModal
        }
    }
</script>
<style>
</style>
